@charset "utf-8";

/* Color */

html {
	background-color: rgb(5, 126, 206);
}


/* Main before class */

h1{
	font-family: Impact, fantasy;
	color: rgb(255, 255, 255);
	text-align: center;
}
h1 > a {
	text-decoration: none;
	font-size: 40px;
}

li {
	float:left;
	background-color: powderblue;
}

li > a {
	display: block;
	width: 100px;
	background-color: powderblue;
	padding: 10px;
	text-align: center;
}
nav {
	font-size: 1em;
}
nav > ul {
	line-height: 1em;
	list-style-type: none;
	padding-left: 8px;
}
nav > ul > li > a:link, nav > ul > li > a:visited {
	color: black;
	text-decoration: none;
}

nav > ul > li > a:hover, nav > ul > li > a:active {
	color: black;
	text-decoration-line: underline;
	text-decoration-style: solid;
}

/* Footer */

footer {
	background-color: white;
	color: black;
	font-size: 20px;
	font-family: Times, Times New Roman, serif;
	text-align: center;
}
/* Grid */

.item-b {
	grid-area: nav;
}

.item-e {
	grid-area: aside;
}

.item-f {
	grid-area: footer;
}

.container {
	display: grid;
	grid-template-columns: repeat(2, 1fr);
	grid-template-rows: auto;
	grid-template-areas: 
		"nav nav"
		"aside aside"
		"footer footer";
	gap: 10px;
	grid-auto-rows: minmax(100px, auto);
	grid-auto-columns: minmax(200px, auto);
	align-items: center;
}